doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.9/css/ink.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
  body
    nav.ink-navigation
      ul.menu.horizontal.black
        li.heading
          a(href="/") home
        li
          a(href="/posts") all posts
        li
          a(href="/posts/new") new post
        li
          a(href="/presentation") what i learned

  .main
    .ink-grid
      block content